:root {
    --base-dark: #121212;
    --base-dark-navbar: #272727;
    --blanco-titulos: rgba(255, 255, 255, 0.87);
    --blanco-texto: rgba(255, 255, 255, 0.6);
    --primary-light-mode: #E53935;
    /*--primary-dark-mode: #EF9A9A;*/
    --primary-dark-mode: #E57373;
    --primary-transparent-dark-mode: rgba(239, 154, 154, 0.6);
}
/***** COLORES *****/
#home, #about, #portfolio {
    background-color: var(--base-dark);
    min-height: 100vh;
}
h1 {
    color: var(--blanco-titulos);
}
p {
    color: var(--blanco-texto);
}
/***** NAVBAR *****/
.bg-dark {
    background-color: var(--base-dark-navbar)!important;
}
.navbar-nav .nav-item .nav-link  {
    font-size: 1.2rem;
    color: var(--blanco-titulos);
    font-weight: 200;
}
.navbar-nav > .active{
    color: var(--primary-dark-mode)!important;
    font-weight: 600;
}
/***** ABOUT *****/
.about-contenedor-foto img {
    width: 100%;
}
/***** PORTFOLIO *****/
.portfolio-box {
    position: relative;
  display: block;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.project-category {
    font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
.project-name {
    font-size: 1.2rem;
}
.portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background-color: var(--primary-transparent-dark-mode);
  transition: opacity 0.25s ease;
  text-align: center;
}
.portfolio-box-caption:hover {
    opacity: 1;
}